body {
    background: hsl(212, 45%, 89%);
    font-family: Robboto, Arial;
}
.preview {
    background-color: hsl(0, 0%, 100%);
}
.qr-code-info{
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
}
.info-container{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}