body {
    background: hsl(212, 45%, 89%);
    font-family: Robboto, Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100vh;
}
.preview {
    background-color: hsl(0, 0%, 100%);
    width: 330px; 
    border-radius: 18px;
}
.qr-code-pic{
    padding: 15px;
}
img {
    width: 300px;
    border-radius: 12px;
}
.qr-code-info{
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    padding: 10px 25px;
    text-align: center;
}
.info-container{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    padding: 5px 30px 45px 35px;
    text-align: center;
}